@font-face {
        font-family: 'bubble';
        src: url('../fonts/bubble & soap.ttf') format('truetype');
        font-weight: normal;
        font-style: normal;
}

body{background:url('../resources/swirl_pattern.png');}

#page, footer{background: rgba(255,255,255,0.7); padding: 20px}

.page-head{padding: 0; margin: 20px 0 0 0; border-bottom: 2px solid black;}
header{position: relative;}
header h1{position: absolute; font-family: bubble; font-size: 80px;
				left:50%; margin-left:-135px; 
				bottom:50%; margin-bottom:-50px}

#logout:hover{background: rgba(255,0,0,0.6);}

table{background: #fff;}

/* shop */
.description{display: none;}
.custom-level:hover{cursor:pointer;}
.row-scroll{max-height:195px; overflow-y: scroll;}
.row{margin-bottom: 20px}

/* forum */
#btn-new-subject{margin-bottom:20px}
.subject{cursor:pointer;}

.modal-wide{width:60%; min-width: 150px;}
#download-btn{margin: 10px auto;}

.image-column{min-width:50px; max-width: 100px; width: 10%}

.th-winds{text-align: center; background: #ccc}
.th-winds h3{margin-bottom:0px;}

.logo-level{width: 48px; border: 2px solid #888; border-radius: 10px;}

.form-row{margin-top:20px;}

footer{background: rgba(23,182,255,1.0); padding: 20px; position: relative;}
footer a{color:#ccc; font-style: italic;}
#img-raspberry img{position: absolute; right:0px; top:0px; width: 220px;}

.custom-file-input{margin-left: 80px;}



@media (max-width:768px){
	.page-head{margin:0px;}
	header h1{font-size: 50px;
				left:50%; margin-left:-80px; 
				bottom:50%; margin-bottom:-30px
	}
	.container{padding-left:0px; padding-right:0px}
	.align-mobile-left{margin-left:-30px; margin-right:-30px}
	.align-mobile-button-down{margin-bottom:5px;}
	h2{height:33px;}
	.custom-file-input{margin-left: 25px;}
	#img-raspberry{position: relative; height: 100px; }
	#img-raspberry img{position: absolute; left:37%; width:36%; }
}

@media (min-width:769px){
    /*#img-raspberry img{height: 100%}*/
}

@media (min-width:1200px){
	header h1{font-size: 120px;
				left:50%; margin-left:-180px; 
				bottom:50%; margin-bottom:-75px
	}
}

@media handheld {
	#download-btn{display:none;}
}

.custom-file-input::-webkit-file-upload-button {
  visibility: hidden;
}

.custom-file-input::before {
  content: 'Select a file';
  display: inline-block;
  background: -webkit-linear-gradient(top, #f9f9f9, #e3e3e3);
  border: 1px solid #999;
  border-radius: 3px;
  padding: 5px 8px;
  outline: none;
  white-space: nowrap;
  -webkit-user-select: none;
  cursor: pointer;
  text-shadow: 1px 1px #fff;
  font-weight: 700;
  font-size: 10pt;
}
.custom-file-input:hover::before {
  border-color: black;
}
.custom-file-input:active::before {
  background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
}